[Desktop Entry]
Type=Application
Name=linuxdeployqt
Exec=linuxdeployqt
Icon=linuxdeployqt
Comment=Bundle an application as an AppDir and/or AppImage
Terminal=true
Categories=Development;
